<div id="content_wrapper">
  <!-- <div id="clouds_bg"><img src="img/clouds_bg.png"></div> -->
  <div id="clouds_blue"><img src="img/clouds_blue.png"></div>
  <!-- <div id="clouds_dark_blue"><img src="img/clouds_dark_blue.png"></div> -->
  <!-- <div id="clouds_white"><img src="img/clouds_white.png"></div> -->
  
  <div id="content">
    <h1>AppFog - Ruby - Rack - Sinatra (Modular) App Example</h1>
    <p>Welcome to the API part of the website.</p>
    
    <br>
    <br>
    <p>Try these links:</p>
    
    <ul>
      <li><a href="/api/model">Dynamic Model name</a><br><br></li>
      <li><a href="/api/model/ref">Dynamic Model name with additional attribute</a></li>
    </ul>
    
  </div>
</div>
